nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #f9f7f7;
    font-size: 20px;
    color: #112D4E;
    padding: 50px;
}

nav ul a {
    color: #112D4E;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em;
    display: block;
}

nav ul a:hover {
    background-color: #112D4E;
    color: white;
    transition-duration: .5s;
}

nav ul a:active {
    background-color: #112D4E;
    color: white;
}

nav {
    width: 100%;
}

@media screen and (max-width: 800px) {
    nav ul {
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-flow: column;
    }

    nav ul a {
        text-align: center;
        border-top: 1px solid;
    }
}